#board {
	width:400px;
	height:400px;
	border:1px solid #AAAAAA;
}
.square {
	width:40px;
	height:40px;
	float:left;
    border-top:5px solid #FBFAF9;
    border-left:5px solid #FBFAF9;
    border-bottom:5px solid #949494;
    border-right:5px solid #949494;
    background-color:#BDBDBD;
}
.bomb {
    width:40px;
    height:40px;
}
#gameStart{
    background-color: #BDBDBD;
    height:40px;
    width:400px;
    padding:1px;
    border-top:5px solid #FBFAF9;
    border-left:5px solid #FBFAF9;
    border-bottom:5px solid #757575;
    border-right:5px solid #757575;
    font-family: 'VT323', monospace;
    font-size: 32px;
}
.numberTile{
    width: 50px;
    height:50px;
}