#board {
	width:400px;
	height:400px;
	/* border:1px solid #AAAAAA; */
}
.square {
	width:40px;
	height:40px;
	float:left;
    border-top:5px solid #FBFAF9;
    border-left:5px solid #FBFAF9;
    border-bottom:5px solid #949494;
    border-right:5px solid #949494;
    background-color:#BDBDBD;
}
.bomb {
    width:40px;
    height:40px;
}
#gameStart{
    background-color: #BDBDBD;
    height:50px;
    width:200px;
    padding:1px;
    border-top:5px solid #FBFAF9;
    border-left:5px solid #FBFAF9;
    border-bottom:5px solid #949494;
    border-right:5px solid #949494;
    font-family: 'VT323', monospace;
    font-size: 32px;
    float:left;
}
.numberTile{
    width:50px;
    height:50px;
}
.flag{
    width:50px;
    height:50px;
}
#flagButtonImg{
    float:left;
    height:50px;
    width:50px;
}
#flagButtonIndicator{
    float:left;
    height:40px;
    width:40px;
    border-top:5px solid #FBFAF9;
    border-left:5px solid #FBFAF9;
    border-bottom:5px solid #949494;
    border-right:5px solid #949494;
    background-color: #FF6644
}
#bombButtonImg{
    float:left;
    height:40px;
    width:40px;
    border-top:5px solid #FBFAF9;
    border-left:5px solid #FBFAF9;
    border-bottom:5px solid #949494;
    border-right:5px solid #949494;
}
#bombButtonIndicator{
    float:left;
    height:40px;
    width:40px;
    border-top:5px solid #FBFAF9;
    border-left:5px solid #FBFAF9;
    border-bottom:5px solid #949494;
    border-right:5px solid #949494;
    background-color: #FF6644
}